/* Global Styles */
* {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Custom Margin */
.mt-custom {
    margin-top: 100px;
}

/* List Styles */
ul li a {
    color: #000000;
    text-decoration: none;
    /* Remove underline for footer links */
}

/* Button Styles */
.btn {
    font-weight: bold;
}

.btn-primary,
.btn-secondary {
    border-radius: 15px;
    margin-top: 20px;
}

.btn-primary {
    background-color: #4F9E3D;
}

.btn-primary:hover {
    background-color: #50AE3A;
}

.btn-secondary {
    background-color: #4F78C9;
}

.btn-tertiary {
    background-color: #EAEDFF;
    color: #4F78C9;
}

.btn-quaternary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 50px;
}

.btn-quaternary:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Image Styles */
#productImage {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px #000000;
    margin-top: 20px;
}

.profile-pic {
    border-radius: 50%;
}

/* Form and Card Styles */
.form-container,
.card {
    border: 1px solid #5f5e5e;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    max-width: 600px;
}

.card {
    width: 18rem;
    margin-top: 30px;
}

/* Divider (Horizontal Rule) Styles */
hr {
    border: 1px solid #313030;
    margin-top: 20px;
}