{% extends 'base.html' %}

{% block content %}

<main>
  <div class = "container">
    <div class="row">
      <div class="col-5 order-first">
        <div style="float:left; font-size: 25px; font-weight: bold; ">
          <p>Order Placed! Thank you for purchasing! <br>
          <div style="font-size: 15px; color: grey; font-weight: normal; ">
          An invoice has been sent to your email</p>
        </div>

        <div class="row">
          <div style="font-size: 15px; color: black; font-weight: normal; ">
          <div class="col-10">
          <p>Order ID: <span>{{ order.id }}</span> <br> <!--This should be generated when the Order is placed, databased function required-->
          Date of order placed: <span >{{ order_date }}</span></p>
        </div>
      </div>
    </div>
        
  </div>
</main>

{% endblock %}
