{% extends 'base.html' %}


{% block content %}
<div class="container-fluid">
    <main>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h2>Product Information</h2>
                    <form action="create_product.php" method="post">
                        <div class="mb-3">
                            <label for="event_name" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="product_name" name="product_name">
                        </div>
                        <div class="mb-3">
                            <label for="event_type" class="form-label">Product Category</label>
                            <select class="form-select" id="category" name="category">
                                <option value="camera">Camera</option>
                                <option value="drone">Drone</option>
                                <option value="uniform">Uniform</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="publish_date" class="form-label">Publish Date</label>
                            <input type="date" class="form-control" id="publish_date" name="publish_date">
                        </div>
                       
                        <div class="mb-3">
                            <label for="size" class="form-label me-3 mt-3">Sizes (optional)</label>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="xs" autocomplete="off">
                                <label class="btn btn-outline-dark me-2" for="xs">XS</label>

                                <input type="radio" class="btn-check" name="btnradio" id="s" autocomplete="off">
                                <label class="btn btn-outline-dark me-2" for="s">S</label>
                              
                                <input type="radio" class="btn-check" name="btnradio" id="m" autocomplete="off">
                                <label class="btn btn-outline-dark me-2" for="m">M</label>
                              
                                <input type="radio" class="btn-check" name="btnradio" id="l" autocomplete="off">
                                <label class="btn btn-outline-dark me-2" for="l">L</label>

                                <input type="radio" class="btn-check" name="btnradio" id="xl" autocomplete="off">
                                <label class="btn btn-outline-dark" for="xl">XL</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="size" class="form-label me-3 mt-3">Colors (optional)</label>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check check-after" name="btnradio" id="btnradio1" autocomplete="off">
                                <label class="btn btn-dark rounded-circle btn-circle me-3" for="btnradio1"></label>

                                <input type="radio" class="btn-check check-after" name="btnradio" id="btnradio2" autocomplete="off">
                                <label class="btn btn-danger rounded-circle btn-circle me-3" for="btnradio2"></label>

                                <input type="radio" class="btn-check check-after" name="btnradio" id="btnradio3" autocomplete="off">
                                <label class="btn btn-primary rounded-circle btn-circle me-3" for="btnradio3"></label>

                                <input type="radio" class="btn-check check-after" name="btnradio" id="btnradio4" autocomplete="off">
                                <label class="btn btn-success rounded-circle btn-circle me-3" for="btnradio4"></label>

                                <input type="radio" class="btn-check check-after" name="btnradio" id="btnradio5" autocomplete="off">
                                <label class="btn btn-secondary rounded-circle btn-circle me-3" for="btnradio5"></label>

                                <input type="radio" class="btn-check check-after" name="btnradio" id="btnradio6" autocomplete="off">
                                <label class="btn btn-warning rounded-circle btn-circle" for="btnradio6"></label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="event_description" class="form-label">Product Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <h5>Upload Product Image</h5>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Select an image...</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <img src="static/img/empty.jpg" class="img-thumbnail" alt="empty" width="500" height="500">
                </div>
            </div>
        </div>

        <div class="container">
            <button type="button" class="btn btn-dark" id="toastbtn">Add Product</button>
            <div class="toast position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div class="toast-header">
                  <strong class="me-auto">Notice</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                  <p>Product is added successfully!</p>
                </div>
              </div>
            </div>
            <script>
                document.getElementById("toastbtn").onclick = function() {
                  var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                  var toastList = toastElList.map(function(toastEl) {
                    return new bootstrap.Toast(toastEl)
                  })
                  toastList.forEach(toast => toast.show()) 
                }
            </script>
        </div>
        
    </main>
</div>
{% endblock %}