{% extends 'base.html' %}

{% block content %}
  <!-- Recent Sports Techs -->

  <main role="main" aria-label="Home Page">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" aria-label="Product carousel" role="region" aria-live="polite">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/img/hero1.png" class="d-block w-100 carousel-img" alt="Boyzlife group performing live on stage" aria-label="Boyzlife group photo" />
        </div>
        <div class="carousel-item">
          <img src="static/img/hero2.png" class="d-block w-100 carousel-img" alt="Abbie Chatfield posing for a photo" aria-label="Abbie Chatfield" />
        </div>
        <div class="carousel-item">
          <img src="static/img/hero3.png" class="d-block w-100 carousel-img" alt="Bjorn Again performing on stage" aria-label="Bjorn Again performance" />
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" aria-label="Previous slide" role="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" aria-label="Next slide" role="button">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <section class="Recent" aria-labelledby="recent-products-section">
      <h1 id="recent-products-section">Recently Added Products</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div id="row1" class="row">
        <div class="Recent-col col-12 col-md-4" aria-labelledby="soccer-product">
          <a href="/products" aria-label="View Soccer product details">
            <img src="../static/img/Soccer.jpg" alt="Various soccer products such as balls and jerseys" class="img-fluid" />
            <div class="layer">
              <h3>Soccer</h3>
              <p>
                <b>Available</b>
              </p>
              <i>Anything<br />Ranges From A$10.00</i>
            </div>
          </a>
        </div>
        <div class="Recent-col col-12 col-md-4" aria-labelledby="rugby-product">
          <a href="#" aria-label="View Rugby product details">
            <img src="../static/img/Rugby.jpg" alt="Various rugby products such as balls and kits" class="img-fluid" />
            <div class="layer">
              <h3>Rugby</h3>
              <p>
                <b>Available</b>
              </p>
              <i>Anything<br />Ranges From A$27.50</i>
            </div>
          </a>
        </div>
        <div class="Recent-col col-12 col-md-4" aria-labelledby="cricket-product">
          <a href="#" aria-label="View Cricket product details">
            <img src="../static/img/Cricket.jpg" alt="Various cricket products such as bats and pads" class="img-fluid" />
            <div class="layer Recent-col col-12 col-md-4">
              <h3>Cricket</h3>
              <p>
                <b>Available</b>
              </p>
              <i>Anything<br />Ranges From A$79.68</i>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section class="Browse" aria-labelledby="browse-products-section">
      <h1 id="browse-products-section">Browse More Products</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div id="row2" class="row">
        <div class="Browse-col col-12 col-md-3" aria-labelledby="running-product">
          <a href="#" aria-label="View Running product details">
            <img src="../static/img/Running.jpg" alt="Various running products such as shoes and apparel" class="img-fluid" />
            <div class="layer">
              <h3>Running</h3>
              <p>
                <b>Available</b>
              </p>
              <i>Anything<br />Ranges from A$79.68+</i>
            </div>
          </a>
        </div>
        <div class="Browse-col col-12 col-md-3" aria-labelledby="tennis-product">
          <a href="#" aria-label="View Tennis product details">
            <img src="../static/img/Tennis.jpg" alt="Various tennis products such as rackets and balls" class="img-fluid" />
            <div class="layer">
              <h3>Tennis</h3>
              <p>
                <b>Available</b>
              </p>
              <i>Anything<br />Ranges from A$43.50</i>
            </div>
          </a>
        </div>
        <div class="Browse-col out-of-stock col-12 col-md-3" aria-labelledby="volleyball-product">
          <a href="#" aria-label="View Volleyball product details">
            <img src="../static/img/Volleyball.jpg" alt="Various volleyball products such as nets and balls" class="img-fluid" />
            <div class="layer">
              <h3>Volleyball</h3>
              <p>
                <b>Sold out:</b>
              </p>
              <i>Anything<br />Ranges from A$38.37</i>
            </div>
          </a>
        </div>
        <div class="Browse-col out-of-stock col-12 col-md-3" aria-labelledby="basketball-product">
          <a href="#" aria-label="View Basketball product details">
            <img src="../static/img/Basketball.jpg" alt="Various basketball products such as hoops and balls" class="img-fluid" />
            <div class="layer">
              <h3>Basketball</h3>
              <p>
                <b>Sold out:</b>
              </p>
              <i>Anything<br />No Price</i>
            </div>
          </a>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
