{% extends 'base.html' %}

{% block header %}
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/img/hero1.png" class="d-block w-100 carousel-img" alt="Boyzlife picture" />
      </div>
      <div class="carousel-item">
        <img src="static/img/hero2.png" class="d-block w-100 carousel-img" alt="Abbie Chatfield picture" />
      </div>
      <div class="carousel-item">
        <img src="static/img/hero3.png" class="d-block w-100 carousel-img" alt="Bjorn Again picture" />
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}

{% block content %}
  <!-- Recent Sports Techs -->
  <main>
    <section class="Recent">
      <h1>Top Sports Tech Picks</h1>
      <p>Explore the latest and most innovative cameras, wearables, and smart training devices designed to enhance performance from the comfort of your own home!</p>
      <div id="row1" class="row">
        <div class="Recent-col">
          <a href="/products">
            <img src="../static/img/Cameras.jpg" />
            <div class="layer">
              <h3>Cameras</h3>
              <p>
                <b>Avaliable</b>
              </p>
              <i>
                Anything<br />
                Ranges From A$100.00
              </i>
            </div>
          </a>
        </div>
        <div class="Recent-col">
          <a href="#">
            <img src="../static/img/watches.jpg" />
            <div class="layer">
              <h3>Wearables</h3>
              <p>
                <b>Avaliable</b>
              </p>
              <i>
                Anything
                <br />Ranges From A$150.50
              </i>
            </div>
          </a>
        </div>
        <div class="Recent-col">
          <a href="#">
            <img src="../static/img/Treadmill.jpg" />
            <div class="layer">
              <h3>Smart Training Equipment</h3>
              <p>
                <b>Avaliable</b>
              </p>
              <i>
                Anything
                <br />Ranges From A$1000.00
              </i>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!-- -Browse Products -->
    <section class="Browse">
      <h1>More Sports Tech Essentials</h1>
      <p>From smart sensors to recovery tools, discover a wide range of cutting-edge gear for every athlete.</p>
      <div id="row2" class="row">
        <div class="Browse-col">
          <a href="#">
            <img src="../static/img/WellnessDevice.jpg" />
            <div class="layer">
              <h3>Recovery/Wellness Tech</h3>
              <p>
                <b>Avaliable</b>
              </p>
              <i>
                Anything
                <br />Ranges from A$50.00
              </i>
            </div>
          </a>
        </div>
        <div class="Browse-col">
          <a href="#">
            <img src="../static/img/Smart Water Bottle.jpg" />
            <div class="layer">
              <h3>Hydration/Nutrition Tech</h3>
              <p>
                <b>Avaliable</b>
              </p>
              <i>
                Anything
                <br />Ranges from A$100.00
              </i>
            </div>
          </a>
        </div>
        <div class="Browse-col">
          <a href="#">
            <img src="../static/img/VirtualSport.jpg" />
            <div class="layer">
              <h3>(VR/AR) Training</h3>
              <p>
                <b>Avaliable</b>
              </p>
              <i>
                Anything
                <br />Ranges from A$1000.00
              </i>
            </div>
          </a>
        </div>
        <div class="Browse-col">
          <a href="#">
            <img src="../static/img/Smart Helmet.jpg" />
            <div class="layer">
              <h3 style="color:rgb(168, 62, 62)">Safety/Injury Prevention</h3>
              <p style="color:rgb(177, 89, 89)">
                <b>Unavaliable:</b>
              </p>
              <!-- <i style="color:rgb(177, 89, 89)">
                Anything
                <br style="color:rgb(177, 89, 89)" />No Price
              </i> -->
            </div>
          </a>
        </div>
      </div>
    </section>
  </main>
  <!-- Control forward slash '/' -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
{% endblock %}
