{% extends 'base.html' %}

{% block content %}
  <main role="main" aria-label="Product Purchase Page">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img id="productImage" src="https://vitruvianform.com/cdn/shop/files/Shop_Standardkit_prohandles_f390aff3-d7c2-4ed6-981e-2385847b60b8_800x.jpg?v=1713416875" class="rounded img-fluid" alt="Main product image of Standard Kit with Pro Handles" aria-label="Main product image of Standard Kit with Pro Handles" />
        </div>
      </div>
      <br />
      <div class="row" id="product-info">
        <div class="col-12 col-md-8">
          <label for="productListDate" id="productListDateLabel">DD/MM/YYYY</label>
          <h1>Dummy Text</h1>
          <p>This is a summary</p>
          <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-center">
              <img class="profile-pic" src="../static/img/default_profile.jpg" alt="Seller profile image" height="50px" aria-label="Seller profile image" />
              <a href="#" class="ml-2 mb-0" style="margin-left: 10px;" aria-label="Visit seller's profile" role="link">Seller Name</a>
            </div>
            <div class="col-12 col-md-6 mt-2 mt-md-1">
              <button class="btn btn-tertiary w-25" aria-label="Visit Shop" role="button">Visit Shop</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-3 mt-md-0">
          <div class="container">
            <form action="" method="" class="p-0" aria-labelledby="purchaseForm" id="purchaseForm">
              <div class="form-group form-container">
                <div class="row">
                  <label for="productName" class="mb-3">Name of Product</label>
                </div>
                <label for="productPrice" id="productPriceLabel">Price of product</label>
                <div class="quantity-control d-flex justify-content-between align-items-center">
                  <button class="qty-count qty-count--minus btn" data-action="minus" type="button" aria-label="Decrease quantity" role="button">-</button>
                  <input class="product-qty" type="number" name="product-qty" min="0" max="10" value="1" aria-label="Product quantity" />
                  <button class="qty-count qty-count--add btn" data-action="add" type="button" aria-label="Increase quantity" role="button">+</button>
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-100 mb-3 mt-3" aria-label="Submit purchase" role="button">Purchase</button>
            </form>
            <button type="submit" class="btn btn-secondary w-100 mb-3" aria-label="Go to tech details" role="button">Tech Details</button>
            <p>To read more about this technology, visit the Tech Details page by clicking on the above button</p>
          </div>
        </div>
        <div class="col-12">
          <hr />
        </div>
      </div>
      <div class="row other-products-section" id="otherProducts-section" aria-labelledby="other-products-section">
        <div class="col-12">
          <h2 id="other-products-section">Other Products you may like</h2>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="card" aria-labelledby="product1" role="region">
            <img src="../static/img/default-product-image.webp" class="card-img-top" alt="Product image" aria-label="Product 1 image" />
            <div class="card-body">
              <h5 class="card-title text-center">Product Name</h5>
              <p class="card-text text-center">Brand Name</p>
              <a href="#" class="btn btn-quaternary w-100" aria-label="Visit product details" role="link">Visit</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="card" aria-labelledby="product2" role="region">
            <img src="../static/img/default-product-image.webp" class="card-img-top" alt="Product image" aria-label="Product 2 image" />
            <div class="card-body">
              <h5 class="card-title text-center">Product Name</h5>
              <p class="card-text text-center">Brand Name</p>
              <a href="#" class="btn btn-quaternary w-100" aria-label="Visit product details" role="link">Visit</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="card" aria-labelledby="product3" role="region">
            <img src="../static/img/default-product-image.webp" class="card-img-top" alt="Product image" aria-label="Product 3 image" />
            <div class="card-body">
              <h5 class="card-title text-center">Product Name</h5>
              <p class="card-text text-center">Brand Name</p>
              <a href="#" class="btn btn-quaternary w-100" aria-label="Visit product details" role="link">Visit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </main>
{% endblock %}
