{% extends 'base.html' %}

{% block content %}
  <main>
    <div class="container">
      <div class="row">
        <img id="productImage" src="https://vitruvianform.com/cdn/shop/files/Shop_Standardkit_prohandles_f390aff3-d7c2-4ed6-981e-2385847b60b8_800x.jpg?v=1713416875" class="rounded" alt="Product Image" />
      </div>
      <div class="row" id="product-info">
        <label for="productListDate">DD/MM/YYYY</label>
        <div class="col-8">
          <h1>Dummy Text</h1>
          <p>This is a summary</p>
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <img class="profile-pic" src="../static/img/default_profile.jpg" alt="Seller Image" height="50px" />
              <a href="#" class="ml-2 mb-0" style="margin-left: 10px;">Seller Name</a>
            </div>
            <div class="col-6">
              <button class="btn btn-tertiary">Visit Shop</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="container">
            <form action="" method="" class="p-0">
              <div class="form-group form-container">
                <div class="row">
                  <label for="productName" class="mb-3">Name of Product</label>
                </div>
                <label for="productPrice">Price of product</label>
                <!-- Buttons not programmed yet -->
                <button class="qty-count qty-count--minus btn" data-action="minus" type="button">-</button>
                <input class="product-qty" type="number" name="product-qty" min="0" max="10" value="1" />
                <button class="qty-count qty-count--add btn" data-action="add" type="button">+</button>
              </div>
              <button type="submit" class="btn btn-primary w-100">Purchase</button>
            </form>
            <button type="submit" class="btn btn-secondary w-100">Tech Details</button>
            <p>To read more about this technology, visit the Tech Details page by clicking on the above button</p>
          </div>
        </div>
        <!-- Add horizontal line here -->
        <div class="col-12">
          <hr />
        </div>
      </div>
      <div class="row" id="otherProducts-section">
        <h2>Other Products you may like</h2>
        <div class="card">
          <img src="../static/img/default-product-image.webp" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title text-center">Product Name</h5>
            <p class="card-text text-center">Brand Name</p>
            <a href="#" class="btn btn-quaternary">Visit</a>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/default-product-image.webp" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title text-center">Product Name</h5>
            <p class="card-text text-center">Brand Name</p>
            <a href="#" class="btn btn-quaternary">Visit</a>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/default-product-image.webp" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title text-center">Product Name</h5>
            <p class="card-text text-center">Brand Name</p>
            <a href="#" class="btn btn-quaternary">Visit</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
